@import "tailwindcss";

:root {
  /* Base Colour */
  --color-navy-500: #010036;

  /* Primary Colours */
  --color-primary-50: #e6e6f2;
  --color-primary-100: #cccce6;
  --color-primary-200: #9999cc;
  --color-primary-300: #6666b3;
  --color-primary-400: #333399;
  --color-primary-500: #010036;
  --color-primary-600: #01002f;
  --color-primary-700: #010029;
  --color-primary-800: #010022;
  --color-primary-900: #01001a;
  --color-primary-950: #010013;

  /* Accent Colours */
  --color-accent-50: #fff8e1;
  --color-accent-100: #ffecb3;
  --color-accent-200: #ffe082;
  --color-accent-300: #ffd54f;
  --color-accent-400: #ffca28;
  --color-accent-500: #ffc107;
  --color-accent-600: #ffb300;
  --color-accent-700: #ffa000;
  --color-accent-800: #ff8f00;
  --color-accent-900: #ff6f00;
  --color-accent-950: #e65100;

  /* Highlight Colours */
  --tw-color-accent-700: var(--color-accent-950);
}

.from-accent-700 {
  background-image: linear-gradient(
    to right,
    var(--tw-color-accent-700) 0%,
    var(--tw-color-accent-700) 100%
  );
}

.to-accent-700 {
  background-image: linear-gradient(
    to right,
    var(--tw-color-accent-700) 0%,
    var(--tw-color-accent-700) 100%
  );
}

.hover-text-accent-700:hover {
  color: rgba(230, 81, 0, 1);
}

/* Custom Text Variants */
.text.navy-500 {
  color: var(--color-navy-500);
}
.text-primary-50 {
  color: var(--color-primary-50);
}
.text-primary-100 {
  color: var(--color-primary-100);
}
.text-primary-200 {
  color: var(--color-primary-200);
}
.text-primary-300 {
  color: var(--color-primary-300);
}
.text-primary-400 {
  color: var(--color-primary-400);
}
.text-primary-500 {
  color: var(--color-primary-500);
}
.text-primary-600 {
  color: var(--color-primary-600);
}
.text-primary-700 {
  color: var(--color-primary-700);
}
.text-primary-800 {
  color: var(--color-primary-800);
}
.text-primary-900 {
  color: var(--color-primary-900);
}
.text-primary-950 {
  color: var(--color-primary-950);
}

.text-accent-50 {
  color: var(--color-accent-50);
}
.text-accent-100 {
  color: var(--color-accent-100);
}
.text-accent-200 {
  color: var(--color-accent-200);
}
.text-accent-300 {
  color: var(--color-accent-300);
}
.text-accent-400 {
  color: var(--color-accent-400);
}
.text-accent-500 {
  color: var(--color-accent-500);
}
.text-accent-600 {
  color: var(--color-accent-600);
}
.text-accent-700 {
  color: var(--color-accent-700);
}
.text-accent-800 {
  color: var(--color-accent-800);
}
.text-accent-900 {
  color: var(--color-accent-900);
}
.text-accent-950 {
  color: var(--color-accent-950);
}

/* Custom Background Variants */
.bg-primary-50 {
  background-color: var(--color-primary-50);
}
.bg-primary-100 {
  background-color: var(--color-primary-100);
}
.bg-primary-200 {
  background-color: var(--color-primary-200);
}
.bg-primary-300 {
  background-color: var(--color-primary-300);
}
.bg-primary-400 {
  background-color: var(--color-primary-400);
}
.bg-primary-500 {
  background-color: var(--color-primary-500);
}
.bg-primary-600 {
  background-color: var(--color-primary-600);
}
.bg-primary-700 {
  background-color: var(--color-primary-700);
}
.bg-primary-800 {
  background-color: var(--color-primary-800);
}
.bg-primary-900 {
  background-color: var(--color-primary-900);
}
.bg-primary-950 {
  background-color: var(--color-primary-950);
}

.bg-accent-50 {
  background-color: var(--color-accent-50);
}
.bg-accent-100 {
  background-color: var(--color-accent-100);
}
.bg-accent-200 {
  background-color: var(--color-accent-200);
}
.bg-accent-300 {
  background-color: var(--color-accent-300);
}
.bg-accent-400 {
  background-color: var(--color-accent-400);
}
.bg-accent-500 {
  background-color: var(--color-accent-500);
}
.bg-accent-600 {
  background-color: var(--color-accent-600);
}
.bg-accent-700 {
  background-color: var(--color-accent-700);
}
.bg-accent-800 {
  background-color: var(--color-accent-800);
}
.bg-accent-900 {
  background-color: var(--color-accent-900);
}
.bg-accent-950 {
  background-color: var(--color-accent-950);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-primary-950);
    --foreground: var(--color-primary-50);
  }
}

body {
  background: var(--color-primary-950);
  color: var(--color-primary-50);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--color-primary-950);
    border-right-color: var(--color-primary-200);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--color-primary-200);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For data picker */

.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: var(--color-accent-200) !important;
  --rdp-background-color: var(--color-accent-200) !important;
  margin: 0 !important;
}
